<!--header-->
<header class="header">
  <div class="container" data-animation="fade-top">
    <a href="./" class="logo">
      <svg width="62" height="50"><use href="./img/icons.svg#logo"></use></svg>
    </a>
    <div class="header__buttons">
      <a href="tel:+37256469796">+372 5646 9796</a>
      <div class="language">
        <p class="js-current-language">ru</p>
        <ul>
          <li class="language__link" data-language="ru">ru</li>
          <li class="language__link" data-language="en">en</li>
          <li class="language__link" data-language="et">et</li>
        </ul>
      </div>
    </div>
    <div class="menu-backdrop">
      <div class="menu-body">
        <nav class="menu">
          <ul class="menu__list">
            <li>
              <a href="./">spa-меню</a>
              <ul>
                <li><a href="./">Face and body</a></li>
                <li><a href="./">Nails</a></li>
                <li>
                  <a href="./">Аппаратная косметолгия - <br />Vibra B</a>
                </li>
                <li><a href="./">Ароматерапия</a></li>
                <li><a href="./">Day spa</a></li>
              </ul>
            </li>
            <li><a href="https://alpeor.com/" target="_blank">магазин</a></li>
            <li><a href="https://aromamoda.com/" target="_blank">школа</a></li>
            <li><a href="./" data-scrollto="section--about">о нас</a></li>
            <li><a href="./" data-scrollto="footer">контакты</a></li>
          </ul>
        </nav>
        <button class="button button--small" data-popup="request">сертификат</button>
      </div>
    </div>
    <button type="button" class="burger" data-menu-open><span>burger button</span></button>
  </div>
</header>
<!--header end-->
