<!--header-->
<header class="header fix">
  <div class="container">
    <a href="./" class="logo">
      <svg width="82" height="68"><use href="./img/icons.svg#logo"></use></svg>
      <span>Logo</span>
    </a>
    <div class="menu-backdrop">
      <button type="button" class="close-area" data-menu-open></button>
      <div class="menu-body">
        <nav class="menu">
          <ul>
            <!--data-scrollto="section--hero"-->
            <li class="menu__item"><a href="./">Home</a></li>
            <li class="menu__item"><a href="./">About</a></li>
            <li class="menu__item"><a href="./">Service</a></li>
            <li class="menu__item"><a href="./">Contact</a></li>
          </ul>
        </nav>
        <button class="button smaller" data-popup="request">сертификат</button>
      </div>
    </div>
    <button type="button" class="burger" data-menu-open><span>burger button</span></button>
  </div>
</header>
<!--header end-->
