.body {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-family: 'ubuntu_light', sans-serif;
  font-size: 19px;
  font-weight: normal;
  line-height: calc(27 / 20);
  background-color: #fff;
  color: var(--black);

  &.lock {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  height: 100%;

  @media screen and (max-width: 479px) {
    max-width: 375px;
    padding: 0px 10px;
  }
  @media screen and (min-width: 480px) and (max-width: 743px) {
    max-width: 480px;
    padding: 0px 16px;
  }
  @media screen and (min-width: 744px) and (max-width: 1023px) {
    max-width: 744px;
    padding: 0px 20px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    max-width: 1024px;
    padding: 0px 30px;
  }
  @media screen and (min-width: 1280px) and (max-width: 1439px) {
    max-width: 1200px;
    padding: 0px 30px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding: 0px 50px;
  }
}

.section {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.link {
  display: inline-block;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: auto;
    right: 0px;
    transition: width 250ms var(--cubic);
    width: 0%;
    height: 1px;
    background: var(--black);
  }
  &:hover,
  &:focus {
    &:before {
      width: 100%;
      left: 0px;
      right: auto;
    }
  }
}

.del_in1024 {
  @media screen and (max-width: 1439px) {
    display: none !important;
  }
}
.show_in1024 {
  display: inline-block;
  @media screen and (min-width: 1440px) {
    display: none !important;
  }
}
