/*----------------------------------------------- HEADER*/

.header {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 20;
  width: 100%;
  transition: background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
  &.fix {
    background: var(--bg);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    .header__buttons {
      a {
        &:hover,
        &:focus {
          color: var(--button-color-hover) !important;
        }
      }
    }
    .container {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .logo {
      width: 75px;
      height: 54px;
      svg {
        fill: var(--black) !important;
      }
    }
    .menu__list > li {
      > a {
        color: var(--black) !important;
      }
      &:hover,
      &:focus {
        > a {
          color: var(--button-color-hover) !important;
        }
        > .menuArrow svg {
          fill: var(--button-color-hover) !important;
        }
      }
    }
    .menu__list > li > a,
    .header__buttons a,
    .js-current-language {
      color: var(--black) !important;
    }
    .menu__list > li > .menuArrow svg {
      fill: var(--black) !important;
    }
    .burger:before,
    .burger:after,
    .burger span {
      background: var(--black) !important;
    }
  }

  &.header--light {
    .header__buttons a,
    .js-current-language {
      color: var(--white);
    }
    @media screen and (min-width: 1054px) {
      .menu__list > li > a {
        color: var(--white);
      }
      .menu__list > li {
        &:hover,
        &:focus {
          > a {
            color: var(--button-color-hover);
          }
          > .menuArrow svg {
            fill: var(--button-color-hover);
          }
        }
      }
      .menu__list > li > .menuArrow svg {
        fill: var(--white);
      }
    }
    .logo svg {
      fill: var(--white);
    }
    .burger:before,
    .burger:after,
    .burger span {
      background: var(--white);
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 500ms var(--cubic);
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
      max-width: 100%;
      padding-top: 14px;
      padding-bottom: 14px;
    }
    @media screen and (max-width: 1023px) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    @media screen and (max-width: 1279px) {
      max-width: 100%;
    }
    @media screen and (max-width: 1053px) {
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1054px) {
      flex-wrap: nowrap;
    }
  }
  .button {
    order: 1;
  }
}

.logo {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  transition: 500ms var(--cubic);
  svg {
    transition: 500ms var(--cubic);
    display: block;
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
  span {
    display: inline-block;
    margin-left: 16px;
    font-size: 30px;
    line-height: calc(30 / 28);
  }

  @media screen and (max-width: 1439px) {
    width: 62px;
    height: 50px;
  }

  @media screen and (min-width: 1440px) {
    width: 82px;
    height: 66px;
  }
}

.menu-backdrop {
  width: 100%;
  @media screen and (max-width: 1053px) {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms var(--cubic) 350ms, visibility 250ms var(--cubic) 350ms;
    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
      .menu-body {
        transform: translate(0%, 0%);
      }
    }
  }
}

.language {
  &:hover,
  &:focus {
    .js-current-language {
      color: var(--button-color-hover) !important;
    }
  }
}

.menu-body {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  @media screen and (max-width: 1053px) {
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    padding: 60px 20px 20px 20px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    min-height: 100%;
    max-width: 380px;
    z-index: 1;
    background: var(--white);
    box-shadow: 0px 0px 24px rgba(105, 105, 105, 0.5);
    transform: translate(101%, 0%);
    transition: transform 600ms var(--cubic);
    .button {
      width: 100%;
      margin-top: 40px;
    }
  }
  @media screen and (min-width: 1054px) {
    justify-content: flex-end;
    align-items: center;
  }
}

.burger {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  width: 32px;
  height: 24px;
  order: 3;
  margin-left: 20px;
  cursor: pointer;
  &:before,
  &:after,
  span {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--black);
    transition: 500ms var(--cubic);
    font-size: 0px;
  }
  span {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  &:before {
    transform: rotate(0deg) translate(0%, 10px);
  }
  &:after {
    transform: rotate(0deg) translate(0%, -10px);
  }
  &.is-open {
    span {
      opacity: 0;
      transform: translate(100%, 0%);
      background: var(--black) !important;
    }
    &:before {
      transform: rotate(45deg) translate(0%, 0%);
      background: var(--black) !important;
    }
    &:after {
      transform: rotate(-45deg) translate(0%, 0%);
      background: var(--black) !important;
    }
  }
  @media screen and (max-width: 1053px) {
    display: flex;
  }
  @media screen and (min-width: 1054px) {
    display: none;
  }
}

.header__buttons {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  gap: 20px;
  order: 1;
  font-family: 'ubuntu_medium';
  a {
    font-size: 19px;
    line-height: 24px;
    white-space: nowrap;
    transition: 320ms var(--cubic);
    @media screen and (max-width: 340px) {
      font-size: 16px;
    }
    &:hover,
    &:focus {
      color: var(--button-color-hover) !important;
    }
  }
}

.language {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  p {
    font-family: 'ubuntu_regular';
    font-size: 19px;
    line-height: 24px;
    pointer-events: none;
    transition: 500ms var(--cubic);
  }
  ul {
    position: absolute;
    transition: 250ms var(--cubic);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translate(0px, 20px);
    top: 100%;
    gap: 10px;
    padding-top: 20px;
    cursor: pointer;
    li {
      transition: 250ms var(--cubic);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 6px 20px;
      border-radius: 5px;
      background: var(--white);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
      &:hover,
      &:focus {
        background: var(--button-color);
      }
    }
  }
  &.is-open {
    ul {
      pointer-events: all;
      opacity: 1;
      visibility: visible;
      transform: translate(0px, 0px);
    }
  }
}
