/*----------------------------------------------- HEADER*/

.header {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 20;
  width: 100%;
  transition: background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
  &.fix {
    background: var(--bg);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    padding-top: 8px;
    padding-bottom: 8px;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
    }
  }
  .button {
    order: 2;
  }
}

.logo {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  svg {
    display: block;
    fill: currentColor;
  }
  span {
    display: inline-block;
    margin-left: 16px;
    font-size: 30px;
    line-height: calc(30 / 28);
  }
}

.menu-backdrop {
  width: 100%;
  @media screen and (max-width: 767px) {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms var(--cubic) 350ms, visibility 250ms var(--cubic) 350ms;
    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
      .menu-body {
        transform: translate(0%, 0%);
      }
    }
  }
}

.menu-body {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  @media screen and (max-width: 767px) {
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    padding: 60px 20px 20px 20px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    min-height: 100%;
    max-width: 380px;
    z-index: 1;
    background: var(--white);
    box-shadow: 0px 0px 24px rgba(105, 105, 105, 0.5);
    transform: translate(101%, 0%);
    transition: transform 600ms var(--cubic);
    .button {
      width: 100%;
      margin-top: 40px;
    }
  }
  @media screen and (min-width: 768px) {
    justify-content: flex-end;
    align-items: center;
  }
}

.header__buttons {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  order: 1;
  a {
    white-space: nowrap;
  }
}

.burger {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  width: 36px;
  height: 26px;
  cursor: pointer;
  &:before,
  &:after,
  span {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: var(--black);
    transition: 600ms var(--cubic);
    font-size: 0px;
  }
  span {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  &:before {
    transform: rotate(0deg) translate(0%, 10px);
  }
  &:after {
    transform: rotate(0deg) translate(0%, -10px);
  }
  &.is-open {
    span {
      opacity: 0;
      transform: translate(100%, 0%);
    }
    &:before {
      transform: rotate(45deg) translate(0%, 0%);
    }
    &:after {
      transform: rotate(-45deg) translate(0%, 0%);
    }
  }
  @media screen and (max-width: 767px) {
    display: flex;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
