.menu {
  @media screen and (max-width: 1053px) {
    width: 100%;
    order: 1;
  }
  @media screen and (min-width: 1054px) {
    padding: 0px 40px;
    width: auto;
    order: 2;
  }
}

/*MOBIL*/
@media screen and (max-width: 1053px) {
  .menu__list {
    display: inline-flex;
    flex-wrap: wrap;
    li {
      position: relative;
      display: inline-flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
      a {
        display: block;
        position: relative;
        color: inherit;
        width: 100%;
        font-size: 24px;
        line-height: 1.2;
        background: rgba(0, 0, 0, 0);
        transition: background-color 250ms var(--cubic);
        padding: 16px 0px;
        padding-right: 40px;
      }
      > ul {
        display: none;
        position: relative;
        width: 100%;
        padding-left: 20px;
        border-left: 1px solid var(--color);
        li {
          a {
            font-size: 16px;
            padding: 10px 0px;
            padding-right: 40px;
          }
          .menuArrow {
            height: 36px;
          }
        }
      }
      .menuArrow {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 100%;
        height: 60px;
        svg {
          position: absolute;
          transition: 250ms var(--cubic);
          transform: rotate(0deg);
          width: 20px;
          height: 20px;
          fill: var(--black);
          pointer-events: none;
        }
        &.is-hovered {
          svg {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
}

/*DESCTOP*/
@media screen and (min-width: 1054px) {
  .menu__list {
    display: inline-flex;
    flex-wrap: wrap;
    > li {
      position: relative;
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 0px 16px;
      z-index: 1;
      &:hover,
      &:focus {
        > a {
          color: var(--button-color);
        }
        > .menuArrow svg {
          fill: var(--button-color);
        }
      }

      &:first-child {
        margin-left: 0px;
      }
      &:last-child {
        margin-right: 0px;
      }
      &:hover,
      &:focus {
        > ul {
          transform: translate(0px, 0px);
          opacity: 1;
          visibility: visible;
          pointer-events: all;
        }
      }
      > a {
        display: block;
        position: relative;
        color: inherit;
        font-size: 18px;
        line-height: 1.2;
        background: rgba(0, 0, 0, 0);
        padding: 16px 0px;
        cursor: pointer;
        transition: 320ms var(--cubic);
      }
      /*2 LEVEL*/
      > ul {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        position: absolute;
        left: -25px;
        top: 100%;
        transition: 320ms var(--cubic);
        background: var(--bg);
        padding: 12px 10px;
        box-shadow: 4px 4px 4px 0px rgba(166, 166, 166, 0.15);
        border-radius: 20px;
        transform: translate(0px, 20px);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 1;
        li {
          width: 100%;
          position: relative;
          transition: 320ms var(--cubic);
          border-radius: 10px;
          z-index: 1;
          .menuArrow {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translate(0%, -50%) rotate(-90deg);
          }
          a {
            display: block;
            font-size: 16px;
            padding: 10px 15px;
            padding-right: 40px;
            transition: 320ms var(--cubic);
            white-space: nowrap;
            background: rgba(0, 0, 0, 0);
            border-radius: 10px;
            font-family: 'ubuntu_regular';
            z-index: 1;
            &:hover,
            &:focus {
              background: var(--button-color);
              color: var(--black);
            }
          }
          &:hover {
            background: var(--button-color);
            > a {
              color: var(--black);
            }
            > .menuArrow {
              svg {
                fill: var(--black) !important;
              }
            }
            > ul {
              transform: translate(0px, 0px);
              opacity: 1;
              pointer-events: all;
              visibility: visible;
            }
          }
          /*3 LEVEL*/
          > ul {
            background: var(--bg);
            position: absolute;
            left: calc(100% + 10px);
            top: -14px;
            transition: 320ms var(--cubic);
            transform: translate(0px, 20px);
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
            z-index: 1;
            padding: 12px 10px;
            box-shadow: 4px 4px 4px 0px rgba(166, 166, 166, 0.15);
            border-radius: 20px;
          }
        }
      }
      .menuArrow {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 16px;
        height: 16px;
        margin-left: 4px;
        svg {
          position: absolute;
          transition: 250ms var(--cubic);
          transform: rotate(0deg);
          width: 100%;
          height: 100%;
          fill: var(--black);
          pointer-events: none;
        }
        &.is-hovered {
          svg {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
}
