// .section--hero {
//   padding-top: 100px;
//   padding-bottom: 100px;
//   //320
//   @media screen and (max-width: 479px) {}
//   //480
//   @media screen and (min-width: 480px) and (max-width: 743px) {}
//   //744
//   @media screen and (min-width: 744px) and (max-width: 1023px) {}
//   //1024
//   @media screen and (min-width: 1024px) and (max-width: 1439px) {}
//   //1440
//   @media screen and (min-width: 1440px) {}
// }

// ----------------------------------SECTION HERO
.section--hero {
  max-height: 100vh;
  background: var(--bg);

  .container {
    display: flex;
    align-items: flex-end;
    @media screen and (min-width: 0px) and (max-width: 1440px) {
      max-width: 100%;
    }
  }

  .hero-bg {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: var(--black);
    border-radius: 0px 0px 60px 60px;
    overflow: hidden;
    z-index: 1;
    @media screen and (max-width: 1279px) {
      border-radius: 0px 0px 30px 30px;
    }
    .picture,
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .hero-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: flex-end;
    color: var(--white);
    position: relative;
    z-index: 2;
    gap: 24px;
    @media screen and (max-width: 1439px) {
      justify-content: flex-start;
    }
    .subtitle {
      max-width: 360px;
      @media screen and (max-width: 1439px) {
        font-size: 16px;
        max-width: 310px;
        b {
          font-size: 20px;
          max-width: 270px;
        }
      }
      b {
        display: block;
        margin-bottom: 12px;
      }
    }
    .button {
      margin-top: 10px;
      @media screen and (min-width: 477px) and (max-width: 1439px) {
        min-width: 320px;
      }
    }
  }
  //320
  @media screen and (max-width: 479px) {
    height: 568px;
    .hero-content {
      padding-bottom: 33px;
      .forBtn,
      .button {
        width: 100%;
      }
    }
  }
  //480
  @media screen and (min-width: 480px) and (max-width: 743px) {
    height: 568px;
    .hero-content {
      padding-bottom: 40px;
    }
  }
  //744
  @media screen and (min-width: 744px) and (max-width: 1023px) {
    height: 568px;
    .hero-content {
      padding-bottom: 70px;
    }
  }
  //1024
  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    height: 700px;
    .hero-content {
      padding-bottom: 50px;
    }
  }
  //1440
  @media screen and (min-width: 1440px) {
    height: 772px;
    .hero-content {
      padding-bottom: 64px;
    }
  }
}

// ----------------------------------SECTION ABOUT

.section--about {
  background: var(--bg);
  @media screen and (max-width: 1023px) {
    padding-top: 64px;
    padding-bottom: 32px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 170px;
    padding-bottom: 78px;
  }
  @media screen and (max-width: 1439px) {
    .container {
      max-width: 100%;
    }
  }
  .titleBox {
    @media screen and (min-width: 1280px) {
      padding-left: 50%;
    }
    .subtitle {
      max-width: 420px;
    }
    &.spetial {
      .title {
        position: relative;
        left: -100px;
        @media screen and (max-width: 1279px) {
          left: 0px;
        }
      }
    }
  }
}

.about-line {
  display: block;
  width: 100%;
  height: 68%;
  position: absolute;
  left: 0px;
  top: 40px;
  @media screen and (min-width: 1600px) {
    top: 0px;
    height: 65%;
  }
}

.about-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  gap: 24px;
  .subtitle {
    max-width: 420px;
  }
}

.abot-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin-top: 100px;
  @media screen and (max-width: 1279px) {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .about-images__item {
    width: 33.333333%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    img {
      position: relative;
      max-width: 1440px;
    }
    &:nth-child(1) {
      img {
        width: 100.75%;
        transform: translate(-0%, -70%);
      }
    }
    &:nth-child(2) {
      justify-content: flex-end;
      img {
        width: 138.81%;
        transform: translate(-26%, -3%);
      }
    }
    &:nth-child(3) {
      img {
        width: 117.766%;
        transform: translate(6%, 0%);
      }
    }
    @media screen and (max-width: 1279px) {
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      img {
        position: relative;
        max-width: 100%;
        width: 100%;
      }
      &:nth-child(2) {
        justify-content: center;
        .picture {
          width: 100%;
        }
        img {
          width: 100%;
          transform: translate(0%, 0%);
        }
      }
    }
  }
}
