/*----------------------------------------------- TYPOGRAPHY */

.titleBox {
  display: inline-block;
  width: 100%;
}

.titleBox > * {
  margin-top: 20px;
}

.titleBox > *:first-child {
  margin-top: 0px;
}

.title {
  font-family: 'title';
  text-transform: uppercase;
  &.title--h1 {
    font-size: 42px;
  }
  &.title--h2 {
    font-size: 32px;
  }
}

.subtitle {
  font-size: 20px;
}
