:root {
  --black: #2c2c2c;
  --grey: rgba(0, 0, 0, 0.6);
  --placeholder: #c4c4c4;
  --white: #ffffff;
  --button-color: #e8dfce;
  --button-color-hover: #c7af81;
  --bg: #f7f3f0;
  --red: #c73232;
  --backdrop: rgba(94, 99, 99, 0.7);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: 'ubuntu_light';
  src: url('../fonts/ubuntu_light.woff2') format('woff2'), url('../fonts/ubuntu_light.woff') format('woff'),
    url('../fonts/ubuntu_light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntu_regular';
  src: url('../fonts/ubuntu_regular.woff2') format('woff2'), url('../fonts/ubuntu_regular.woff') format('woff'),
    url('../fonts/ubuntu_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntu_medium';
  src: url('../fonts/ubuntu_medium.woff2') format('woff2'), url('../fonts/ubuntu_medium.woff') format('woff'),
    url('../fonts/ubuntu_medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'title';
  src: url('../fonts/sporting_grotesque_regular.woff2') format('woff2'), url('../fonts/sporting_grotesque_regular.woff') format('woff'),
    url('../fonts/sporting_grotesque_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import '_mixins';
@import '_body';
@import '_typography';
@import '_preloader';
@import '_header';
@import '_section-hero';
@import '_buttons';
@import '_footer';
@import '_forms';
@import '_popup';
@import '_swiper';
@import '_animations';
